<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/normalize.css">
</head>
<body>
    <%- include('header.ejs')%>
    <div class="grey-bg">
        <div class="detail-bg">
            <h4><%=상세페이지.title%></h4>
            <p><%=상세페이지.content%></p>
        </div> 
    </div>
</body>
</html>