<header>
    <h2>LOGO</h2>
    <nav>
        <ul>
            <li><a href="/list">List</a></li>
            <li><a href="/write">Post</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/mypage">Mypage</a></li>
        </ul>
    </nav>
</header>