<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <%- include('header.ejs')%>
    <main class="grey-bg">
        <form>
            <div class="list-box">
                <h1>마이페이지</h1>
                <p><%=유저정보.username%></p>
            </div>
        </form>
    </main> 
</body>
<script>
    // fetch().then((r)=>{
    //     return r.json()
    // }).then((결과)=>{
    //     console.log(결과)
    // })
</script>
</html>