<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <%- include('header.ejs')%>
    <main class="grey-bg">
        <form class="form-box" action="/add" method="POST">
            <h4>게시물 작성</h4>
            <input id="title" name="title">
            <input id="content" name="content">
            <button type="submit">등록</button>
        </form>
    </main> 
</body>
<script>
    var formData = new FormData();
    formData.append('title', document.getElementById('title').value);
    formData.append('content', document.getElementById('content').value);
    document.querySelector('form').addEventListener('submit', function(e){
        if( document.querySelector('#title').value == '' || document.querySelector('#content').value == ''){
            e.preventDefault();
            alert('아무내용도 안적었는디?');
        } else if (document.querySelector('#title').value == null || document.querySelector('#content').value == null){
            e.preventDefault();
            alert('null뜨는데 무슨일이니')
        }
    });

    // fetch().then((r)=>{
    //     return r.json()
    // }).then((결과)=>{
    //     console.log(결과)
    // })
</script>
</html>